* {
  scrollbar-color: #e5e7eb;
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e5e7eb;
  }
  